*{
    margin: 0;
    padding: 0;
}
body{
    width: 1250px;
}
nav{
    width: 100%;
    height: 60px;
    background: linear-gradient(to right,#025859,#009EA0 );
    margin-top: 0;
    margin-left: 0;
    
    position: fixed;
    
    box-shadow: 0px 0px 27px 1px;

    border: none; 
    
}
ul{
    list-style-type: none;
}
.kanan{
    float: left;
    line-height: 30px;
    padding-right: 2em;
    margin-top: 14px;
}

.logo{
    margin-right: 1em;
    margin-left: 3em;
    color: white;
    font-size: 20px;
}
.kiri{
    float: right;
    line-height: 30px;
    color: white;
    margin-right: 2em;
    margin-top: 14px;
}

.Register{
    margin-right: 6em;
    float: right;
    line-height: 2em;
    color: white;
    background-color: #065757;
    
}
.Register{
    margin: 0;
    padding: 0;
}
.Register::before,
.Register::after {
    content: "";
    display: table;
}
.Register::after{
    clear: both;
}
.Register{
    margin-right: 2em;
    margin-top: 14px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 10px;
    height: 2em;
    
}
.Register:hover{
    box-shadow: 1px 1px 13px -4px black;
    border: 1.5px solid white;
    background-color: #098c8c;
}

.menuu{
    width: 3em;
    height: 43px;
    float: right;
    margin-right: 3em;
    margin-top: 8px ;
}
a{
    text-decoration: none;
    color: white;
}

<!--TULISAN DARI GOOGLE-->

.roboto-light-italic {
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-style: italic;
}
.roboto-light {
    font-family: "Roboto", sans-serif;
    font-weight: 390;
    font-style: normal;
}
.patrick{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: normal;
    color: #026364;
    font-size: 35px;
    margin-top: 1em;
}
.untuk_gambar_login{
    float: left;
}
.untuk_gambar_login{
    margin: 0;
    padding: 0;
}
.untuk_gambar_login::before,
.untuk_gambar_login::after {
    content: "";
    display: table;
}
.untuk_gambar_login::after{
    clear: both;
}
.untuk_gambar_login{
    margin-top: 5em;
    
    width: 44em;
    height: 33em;
   
}
.untuk_bagian_atass{
    margin-top: 3em;
    
}
.untuk_tombol_login{
    float: right;

}
.untuk_bagian_atas_welcome_back{
    margin-top: 1em;
    color: #026364;
}
.untuk_tombol_login{
    margin: 0;
    padding: 0;
}
.untuk_tombol_login::before,
.untuk_tombol_login::after {
    content: "";
    display: table;
}
.untuk_tombol_login::after{
    clear: both;
}
.untuk_tombol_login{
    border: 2px solid #026364;
    width: 23em;
    height: 32em;
    margin-top: 5em;
    margin-right: 7em;
    border-radius: 7%;
    text-align: center;

}
.untuk_tombol_login_1{
    color: #026364;
    text-align: left;
    margin-top: 2em;
    margin-left: 4em;
    font-size: 16px;
}
.untuk_border{
    border: 1.5px solid #026364;
    background-color: white;
    width: 63%;
    height: 2em;
    margin-left: 4em;
    border-radius: 5px;
    margin-top: 8px;
}
.back_kiri{
    float: left;
    border: 1px solid #026364;
    color: #026364;
    background-color: white;
    margin-left: 4em;
    margin-top: 3em;
    border-radius: 5px ;
    padding: 13px 23px;
}

.back_kanan{
    float: right;
    color: #026364;
    border: 1px solid black;
    background-color: white;
    margin-top: 3em;
    margin-right: 4em;
    border-radius: 5px ;
    padding: 13px 23px;
}
.punya_akun{
    margin-bottom: -1em;
    margin-top: 2em;
    color: #013B3B;
}


footer{
    padding-top: 40em;
    margin-left: 1px;
    margin-bottom: 1em;
    background-color: white;
    border:1px solid #717272;
    border-left: none;
    border-right: none;
    width: 100%;
    max-width: 1280px;
    height: 26em;
}
.isi_artikel_footer{
    margin-left: 5em;
}
.jdl_artikel_footer{
    font-weight: bold;
    margin-top: 4em;
    margin-left: 5em;
    margin-bottom: 1em;
}
.jdl_artikel_footer1{
    font-weight: bold;
    margin-top: 6em;
    margin-bottom: 1em;
    margin-left: 5em;
}
.isi_artikel_footer1{
    margin-left: 19em;
    margin-top: -2em;
}
.jdl_artikel_footer2{
    float: right;
    margin-right: 473px;
    margin-top: -14em;
}
.isi_artikel_footer2{
    float: right;
    margin-top: -12em;
    margin-right: 27em;
}
.zero_bawah{
    text-decoration: none;
    color: black;
    display: flex;
    font-size: 15px;

}
.isi_artikel_footer3{
    float: right;
    margin-top: -14em;
    margin-right: 17em;

}
.jdl_artikel_footer3{
    font-weight: bold;
    float: right;
    margin-right: 21em;
    margin-top: -16em;
}
.masukkan_email_bawah{
    background-color: rgb(226, 226, 226);
    display: table;
    width: 12em;
    height: 2em;
    line-height: 3em;
    padding-left: 1em;
    margin-left: 45em;
    margin-top: -3em;
    color: rgb(139, 138, 138);
}
.untuk_tombol_nya{
    color: white;
    background-color: #009EA0;
    display: table;
    padding: 13px 15px;
    border-radius: 7px;
    float: right;
    margin-right: 10em;
    margin-top: -3em;
}
.copyright{
    text-align: center;
    padding-top: 3em;
}